a{
    font-family: 'dongle', sans-serif; 
    margin: 10 20;
}
 .mountain{
      size: 100%;
  }
a:hover{
    color: white;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
    color:#40514E;

}
h1{
   margin: 50px auto 0 auto;
   font-size: 5.625rem;
   color: #71C9CE;
}
h2{
    color: #71C9CE;
    font-family: 'Dongle', sans-serif; 
    font-size: 2.5rem;
    font-weight: normal; 
    padding-bottom: 10px;
}
h3{
    color: #71C9CE;
    font-family: 'Dongle', sans-serif; 

}
.profile-image{
    border-radius: 100%;
    width: 30%;
}
.skill-image-left{
    border-radius: 100%;
    width: 25%;
    margin-top: 80px;
    margin-bottom: 80px;
}
.skill-image-right{
    border-radius: 100%;
    width: 25%;
    margin-top: 80px;
    margin-bottom: 80px;
}
p{
    font-family: 'Dongle', sans-serif; 
}
.top-container {
    background-color: #CBF1F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{


}
.bottom-container{
    background-color: #71C9CE;
    margin-top: 30px;
}
.down-cloud{
    position: absolute;
}
.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}
hr{
    border: dotted #548CFF;
    width: 10%;
}
.btn {
    background: #1a08d6;
    background-image: -webkit-linear-gradient(top, #1a08d6, #0a9cf7);
    background-image: -moz-linear-gradient(top, #1a08d6, #0a9cf7);
    background-image: -ms-linear-gradient(top, #1a08d6, #0a9cf7);
    background-image: -o-linear-gradient(top, #1a08d6, #0a9cf7);
    background-image: linear-gradient(to bottom, #1a08d6, #0a9cf7);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #71C9CE;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .copyright{
      color: white;
      size: 0.8rem;
  }
